{block content}

{snippet content}
<ul n:if="count($students) > 0">
	{foreach $students as $student}
	<li><a href="{link detail student => $student}" class="ajax">{$student}</a></li>
	{sep}<li><hr></li>{/sep}
	{/foreach}
</ul>
{/snippet}